@import url("https://fonts.googleapis.com/css2?family=Concert+One&family=Inter:wght@700&display=swap");
* {
  font-family: "Inter", sans-serif;
}
html,
body {
  height: 100% !important;
  margin: 0;
  min-height: 100vh !important;
}
.root {
  min-height: 100% !important;
}

/* Form */
form {
  display: flex;
  flex-direction: column;

  margin: 24px;
}
.titleForm {
  color: #2b2b2b;
  font-family: "Concert One", cursive;
  font-family: "Inter", sans-serif !important;
  font-weight: 700;
  font-size: 24px;
}
label {
  margin: 1.5rem 0 0.5rem;
  font-size: 0.8rem;
  color: #484848;
}
input,
textarea,
select {
  background-color: #fafafa;
  padding: 1rem;
  border: none;
  outline-color: #f27623;
}
::placeholder,
select {
  font-style: italic;
  color: #4848488f;
}
select {
  border-right: 1rem solid transparent;
}
.cameraIcon {
  margin: 0 1rem 0 0;
}
.uploadButton {
  margin: 0;
  padding: 0.6rem 1rem;
  cursor: pointer;
  background-color: #6d6c6c;
  color: white;
  border-radius: 20px;
  font-size: 0.8rem;
}
.uploadField {
  display: flex;
  align-items: center;
  width: fit-content;
}
.blogContainer {
  margin-top: 80px;
}
.btn1 {
  max-width: 152px !important;
  color: white;
  background-color: #f27623;
  margin: 2rem auto 0;
  padding: 0.5rem;
  border: none;
  border-radius: 15px;
  align-self: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
textarea {
  width: 403px;
  height: 214px;
  background-color: #fafafa;
}

/* Card */

.blogCard {
  margin: 20px;
  min-width: 290px !important;
  border: 0px !important;
  border-radius: 0 !important;
  padding: 0 !important;
  height: 217px !important;
  z-index: 1;
}
.blogCard img {
  border-radius: 0 !important;
  height: 100px;
}
.blogCard .card-text {
  height: 90px;
}
.blogCard p {
  color: #868686;
  overflow: hidden;
  text-decoration: none;
  text-overflow: ellipsis;
}

.blogpostHeader {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}
.blogpostHeader img {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
}
.blogpostHeader p {
  color: white;
  font-style: italic;
  padding: 1rem 0.5rem 0.5rem;
  font-size: 0.5rem;
  z-index: 1;
}

/* Footer */

footer {
  background-color: black;
  padding: 0.5rem;
  height: 32px;

  text-align: center;
  margin-left: 150px;
  margin-right: 150px;
  position: sticky;
  bottom: 0;
}
.home-container {
  padding: 10px;
}
footer p {
  color: rgb(255, 255, 255);
}

/* Pagination */

.page-link {
  margin: 2px;
  border: 0px !important;
  border-color: transparent !important;
  background-color: transparent !important;
  color: #2b2b2b !important;
  border-radius: 50% !important;
  outline: none !important;
  border: none !important;
}

.active > .page-link,
.page-link.active {
  background-color: #e7e7e7 !important;
}
.page-link:focus {
  border-color: #868686 !important;
}
.pagination_nextButton .page-link {
  color: #f27623 !important;
}

.nav-link {
  text-decoration: none;
  color: #ffffff !important;
  font-family: Inter;
  font-size: 18px !important;
  font-weight: 600 !important;
  letter-spacing: 0 !important;
  line-height: 21px !important;
  padding: 10px !important;
  margin-top: 32px;
}

.nav-link.active {
  border-bottom: 2px solid orange;
  outline: none !important;
  border: none !important;
}
.Blog-text h1 {
  margin: 0 auto;
  color: #ffffff;
  font-size: 48px;
  font-weight: 700px;
  letter-spacing: 0;
  line-height: 62px;
  text-align: center;
  align-items: center;
}
