@import url("https://fonts.googleapis.com/css2?family=Concert+One&family=Inter:wght@700&display=swap");
* {
  font-family: "Inter", sans-serif;
}
body {
}
/* .blogContainer {
  height: 507px;
  width: 1057px;
} */
/* Form */
form {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  margin: 24px;
}
.titleForm {
  color: #2b2b2b;
  font-family: "Concert One", cursive;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 24px;
}
label {
  margin: 1.5rem 0 0.5rem;
  font-size: 0.8rem;
  color: #484848;
}
input,
textarea,
select {
  background-color: #fafafa;
  padding: 1rem;
  border: none;
  outline-color: #f27623;
}
::placeholder,
select {
  font-style: italic;
  color: #4848488f;
}
select {
  border-right: 1rem solid transparent;
}
.cameraIcon {
  margin: 0 1rem 0 0;
}
.uploadButton {
  margin: 0;
  padding: 0.6rem 1rem;
  cursor: pointer;
  background-color: #6d6c6c;
  color: white;
  border-radius: 20px;
  font-size: 0.8rem;
}
.uploadField {
  display: flex;
  align-items: center;
  width: fit-content;
}
.blogContainer {
  margin-top: 80px;
}
.btn1 {
  max-width: 152px !important;
  color: white;
  background-color: #f27623;
  margin: 2rem auto 0;
  padding: 0.5rem;
  border: none;
  border-radius: 15px;
  align-self: center;
}
.blogCard {
  margin: 20px;
  min-width: 290px !important;

  border-radius: 0 !important;
  padding: 0 !important;
}
.blogCard img {
  border-radius: 0 !important;
  height: 100px;
}
.blogCard .card-text {
  height: 90px;
}
.blogCard p {
  text-overflow: ellipsis;
}

footer {
  /* width: 100%; */
  background-color: black;
  align-self: center;
  padding: 0.4rem;
  text-align: center;
  position: relative;
  bottom: 0;
  margin-left: 150px;
  margin-right: 150px;
}
.home-container {
  padding: 10px;
}
footer p {
  color: rgb(255, 255, 255);
}
.page-link {
  border-radius: 50%;
  margin: 2px;
  border: 1px solid none;
}
/* .row {
  background-color: violet;
  height: 659px;
}
.col {
  background-color: #f27623;
} */
.nav-link {
  text-decoration: none;
  color: #ffffff !important;
  font-family: Inter;
  font-size: 18px !important;
  font-weight: 600 !important;
  letter-spacing: 0 !important;
  line-height: 21px !important;
  padding: 10px !important;
  margin-top: 32px;
}

.nav-link.active {
  border-bottom: 2px solid orange;
}
.Blog-text h1 {
  margin: 0 auto;
  color: #ffffff;
  font-size: 48px;
  font-weight: 700px;
  letter-spacing: 0;
  line-height: 62px;
  text-align: center;
  align-items: center;
}
textarea {
  width: 403px;
  height: 214px;
  background-color: #fafafa;
}
